  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Segoe UI", sans-serif;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: linear-gradient(135deg, #89f7fe, #66a6ff);
      padding: 20px;
    }

    .container {
      background: #fff;
      padding: 20px;
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.15);
      max-width: 400px;
      width: 100%;
      text-align: center;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 15px;
      color: #333;
    }

    .picker {
      margin: 15px 0;
    }

    .color-code {
      font-size: 14px;
      font-weight: 500;
      margin-top: 0px;
      color: #636363;
      margin-bottom: 15px;
    }

    .preview {
      width: 100%;
      height: 120px;
      border-radius: 12px;
      margin: 15px 0;
      border: 2px solid #ddd;
      transition: background 0.3s;
    }

    .btn {
      background: #000000;
      color: #fff;
      border: none;
      padding: 10px 18px;
      margin-top: 10px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1rem;
      transition: 0.3s;
    }

    .btn:hover {
      background: #4a8ce0;
    }

    .favorites {
      margin-top: 20px;
      text-align: center;
    }

    .favorites h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #444;
    }

    .fav-container {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-evenly;
    }

    .fav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .fav-colors{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-evenly;
    }
    .fav {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #ddd;
      cursor: pointer;
      transition: transform 0.2s;
    }

    .fav:hover {
      transform: scale(1.1);
    }

    .fav-code {
      font-size: 0.8rem;
      margin-top: 5px;
      color: #555;
    }

    @media (max-width: 480px) {
      h1 {
        font-size: 1.2rem;
      }
      .btn {
        width: 100%;
      }
    }